<template>
  <q-page class="admin-page-class">
    <div class="page-activity-block">
      <con-admin-page-header header-text="Группы" />
      <con-main-tab :route-params="ADMIN_GROUPS_ROUTE_PARAMS" active />
      <con-add-button :icon-name="ButtonIconNamesEnum.AddGroup" route-name="AdminGroupCreate" :entity-type="EntityTypesEnum.Group" />
    </div>
    <div class="admin-page-container flex column items-center">
      <group-card v-for="item in groups" :key="item.id" :group="item" />

      <q-inner-loading :showing="!isDataLoaded" dark color="secondary" style="border-radius: 20px" />
    </div>
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import { GroupsService } from 'src/modules/groups/services/groups.service';
import { LoadingStatusCodesEnum } from 'src/types/base.types';
import ConAdminPageHeader from 'components/ConAdminControls/ConAdminPageHeader.vue';
import ConMainTab from 'components/ConAdminControls/ConMainTab.vue';
import ConAddButton from 'components/ConAdminControls/ConAddButton.vue';
import { ButtonIconNamesEnum } from 'components/ConAdminControls/controls.types';
import { EntityTypesEnum } from 'src/modules/courses/types/entity.types';
import { ADMIN_GROUPS_ROUTE_PARAMS } from 'src/modules/core/constants/routes.consts';
import GroupCard from 'src/modules/groups/components/GroupCard.vue';

export default defineComponent({
  components: { GroupCard, ConAddButton, ConMainTab, ConAdminPageHeader },
  setup() {
    const groupsService = new GroupsService();

    // ---------------------------------------------------------------
    // Загрузка данных
    groupsService.loadGroupList();

    // ---------------------------------------------------------------
    // Данные для страницы
    const groups = computed(() => groupsService.groupList);
    const isDataLoaded = computed(() => groupsService.groupListLoadingStatus.code === LoadingStatusCodesEnum.loaded);

    return {
      groups,
      isDataLoaded,

      ButtonIconNamesEnum,
      EntityTypesEnum,
      ADMIN_GROUPS_ROUTE_PARAMS,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';
</style>
