<template>
  <q-page class="admin-page-class">
    <div class="page-activity-block">
      <con-back-button />
      <con-admin-page-header header-text="Создание группы" />
    </div>
    <div class="admin-page-container flex column items-center create-group">
      <div class="create-group__input-container flex">
        <span class="text-white text-bold text-body1 create-group__label">Название группы</span>
        <input v-model="name" class="no-shadow text-white create-group__input q-px-lg">
      </div>
      <div class="create-group__input-container flex">
        <span class="text-white text-bold text-body1 create-group__label">Количество пользователей</span>
        <input v-model="count" class="no-shadow text-white create-group__input q-px-lg">
      </div>
      <q-space />
      <div class="create-group__button-block">
        <q-btn flat no-caps :loading="isDataLoading" class="bg-green-8 q-px-xl q-py-md text-white create-group__button" @click="createGroup">
          Создать группу
        </q-btn>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import ConBackButton from 'components/ConAdminControls/ConBackButton.vue';
import ConAdminPageHeader from 'components/ConAdminControls/ConAdminPageHeader.vue';
import { GroupsService } from 'src/modules/groups/services/groups.service';
import { useRouter } from 'vue-router';
import { LoadingStatusActionsEnum } from 'src/types/base.types';

export default defineComponent({
  components: { ConAdminPageHeader, ConBackButton },
  setup() {
    const router = useRouter();
    const groupsService = new GroupsService();

    const name = ref('Название группы');
    const count = ref(0);

    const isDataLoading = computed(() => groupsService.createGroupLoadingStatus.action === LoadingStatusActionsEnum.saving);

    async function createGroup() {
      const result = await groupsService.createGroup({
        name: name.value,
        count_generate: parseInt(count.value.toString()),
      });

      if (result) {
        await router.push({ name: 'AdminGroups' });
      }
    }

    return {
      name,
      count,
      isDataLoading,

      createGroup,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';

.create-group {
  &__input {
    padding: 20px 12px;
    width: 70%;
    background: none;
    outline: none;
    border: none;
  }

  &__input-container {
    padding: 0 40px;
    @include background-blur-opacity($main-bg, 0.1);
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  &__label {
    width: 30%;
  }

  &__button-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  &__button {
    border-radius: 10px;
  }
}
</style>
