<template>
  <div class="form">
    <div class="form__inputs-container flex column">
      <div class="form__input-container flex">
        <span class="text-white text-body1 text-bold form__label">Логин</span>
        <input v-model="login" class="no-shadow text-white form__input q-px-lg">
      </div>
      <div class="form__input-container flex">
        <span class="text-white text-body1 text-bold form__label">Пароль</span>
        <input v-model="password" type="password" class="no-shadow text-white form__input q-px-lg">
      </div>
    </div>

    <q-btn
      no-caps
      unelevated
      class="bg-secondary text-h6 text-weight-regular text-white form__button q-btn--no-uppercase"
      :loading="isLoading"
      @click="signing"
    >
      Войти
    </q-btn>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { AuthService } from 'src/modules/core/services/auth/auth.service';
import { useRouter } from 'vue-router';

export default defineComponent({
  setup() {
    const router = useRouter();
    const authService = new AuthService();

    const login = ref<string | null>(null);
    const password = ref<string | null>(null);

    const isLoading = ref(false);

    async function signing() {

      console.log(login.value, password.value);

      isLoading.value = true;
      if (login.value && password.value) {
        console.log(1);
        const isLogin = await authService.authUser(login.value, password.value);

        console.log(isLogin);

        if (isLogin) {
          await router.push('/');
        }

        isLoading.value = false;

        return;
      }

      console.log('Нет параметров');
    }

    return {
      login,
      password,

      isLoading,

      signing,
    };
  },
});

</script>

<style scoped lang="scss">
@import 'src/css/app';
.form {
  @include background-blur-opacity($main-bg, 0.1, 20);
  padding: 30px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 600px;

  &__input {
    padding: 20px 12px;
    width: 70%;
    background: none;
    outline: none;
    border: none;
  }

  &__input-container {
    padding: 0 40px;
    @include background-blur-opacity($main-bg, 0.2);
    border-radius: 10px;
    justify-content: space-between;
    width: 400px;
    align-items: center;

  }

  &__inputs-container {
    gap: 20px;
  }

  &__label {
    width: 60px;
  }

  &__button {
    border-radius: 10px;
    padding: 15px 50px;
  }
}
</style>
