<template>
  <q-card flat class="group-card row items-center">
    <div class="group-card__name text-h6 text-white text-weight-regular">
      {{ group.name }}
    </div>
    <template v-if="isAdd">
      <q-btn flat :loading="isLoading" class="group-card__button absolute bg-secondary text-white" @click="gotoAddGroup">
        <q-icon name="add" />
      </q-btn>
    </template>
    <template v-else>
      <q-btn flat class="group-card__button--save bg-red-6 absolute bg-green-9 text-white" @click="downloadCourseData">
        <q-icon name="download" />
      </q-btn>
      <q-btn flat class="group-card__button--delete bg-red-6 absolute bg-secondary text-white" @click="deleteGroup">
        <q-icon name="delete" />
      </q-btn>
      <q-btn flat class="group-card__button absolute bg-secondary text-white" @click="gotoGroup">
        <q-icon name="chevron_right" />
      </q-btn>
    </template>
  </q-card>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref } from 'vue';
import { EntityTypesEnum } from 'src/modules/courses/types/entity.types';
import { useRoute, useRouter } from 'vue-router';
import { CoursesService } from 'src/modules/courses/services/courses.service';
import { IGroupDto } from 'src/modules/groups/types/groups.types';

export default defineComponent({
  props: {
    group: {
      type: Object as PropType<IGroupDto>,
      required: true,
    },
    courseId: {
      type: String,
      required: true,
    },
    isAdd: {
      type: Boolean,
      default: () => false,
    },
  },

  setup(props) {
    const coursesService = new CoursesService();
    const router = useRouter();
    const route = useRoute();

    function gotoGroup() {
      router.push({
        name: 'EntityPage',
        params: {
          courseId: route.params.courseId,
          entityId: props.group.id,
        },
        query: {
          entityType: EntityTypesEnum.Group,
        },
      });
    }

    const isLoading = ref(false);

    const courseId = computed(() => Array.isArray(route.params.courseId)
      ? route.params.courseId[0]
      : route.params.courseId);

    function deleteGroup() {
      coursesService.deleteGroup(props.group.id.toString(), props.courseId);
    }

    function gotoAddGroup() {
      router.push({
        name: 'AddCourseEntity',
        params: {
          courseId: courseId.value,
          groupId: props.group.id,
        },
      });
    }

    async function downloadCourseData() {
      await coursesService.getCourseCSV(props.courseId, props.group.id.toString(), props.group.name);
    }

    return {
      isLoading,

      gotoAddGroup,
      gotoGroup,
      deleteGroup,
      downloadCourseData,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';

.group-card {
  border-radius: 10px;
  padding: 30px 210px 30px 30px;
  width: 100%;
  @include background-blur-opacity($main-bg, 0.1);

  &__button {
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;

    &--delete {
      border-radius: 0;
      top: 0;
      right: 70px;
      width: 70px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--save {
      border-radius: 0;
      top: 0;
      right: 140px;
      width: 70px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
</style>
