<template>
  <q-card class="group-user-card row">
    <div class="group-user-card__name col-1">
      <span class="group-user-card__course-name text-body1 text-white">{{ userData.name }}</span>
    </div>
    <q-space class="col-auto" />
    <div class="group-user-card__progress row col-6 items-center q-pr-lg">
      <q-linear-progress
        size="8px"
        :value="progressStatus"
        track-color="white"
        color="secondary"
        rounded
        class="col-grow"
      />
      <div class="group-user-card__progress-title coll-grow q-pl-lg">
        <span class="text-body1 text-secondary text-weight-bold text-bold">{{ userData.success_count_tasks }}</span>
        <span class="text-body1 text-white"> / {{ userData.count_tasks }}</span>
      </div>
    </div>
    <q-space class="col-auto" />
    <div class="group-user-card__progress-title coll-grow q-pr-lg">
      <span class="text-body1 text-secondary text-weight-bold text-bold">{{ userData.adding_score_tasks }}</span>
      <span class="text-body1 text-white"> / {{ userData.score_tasks }}</span>
    </div>
    <div class="group-user-card__button absolute absolute-right" />
    <q-btn flat class="group-user-card__button absolute bg-secondary text-white" @click="gotoUser">
      <q-icon name="chevron_right" />
    </q-btn>
  </q-card>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';
import { IGroupStudent } from 'src/modules/courses/types/entity.types';
import { useRoute, useRouter } from 'vue-router';

export default defineComponent({
  props: {
    userData: {
      type: Object as PropType<IGroupStudent>,
      required: true,
    },
  },

  setup(props) {
    const router = useRouter();
    const route = useRoute();

    const courseId = computed(() => Array.isArray(route.params.courseId)
      ? route.params.courseId[0]
      : route.params.courseId);

    const progressStatus = computed(() => props.userData.success_count_tasks / props.userData.count_tasks);

    function gotoUser() {
      router.push({
        name: 'UserPage',
        params: {
          userId: props.userData.id,
          courseId: courseId.value,
        },
      });
    }

    return {
      progressStatus,

      gotoUser,
    };
  },
});

</script>

<style scoped lang="scss">
@import 'src/css/app';

.group-user-card {
  border-radius: 10px;
  padding: 30px 70px 30px 30px;
  width: 100%;
  @include background-blur-opacity($main-bg, 0.1);

  &__button {
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
  }
}
</style>
