<template>
  <q-page class="admin-page-class">
    <div class="page-activity-block">
      <con-back-button />
      <con-admin-page-header header-text="Назначечние группы на курс" />
    </div>
    <div class="admin-page-container flex column items-center add-tasks">
      <div class="add-tasks__header flex column">
        <span class="text-body1 text-white">Назначение задач</span>
        <span class="text-body1 text-white">Количество задач количество каждого грейда (по умолчанию 10 задач 3 легких 4 средних 3 сложных)</span>
      </div>
      <div class="add-tasks__inputs-block flex column">
        <div v-for="item in inputsControls" :key="item.rating" class="add-tasks__inputs-row flex justify-center">
          <div class="add-tasks__input-container text-bold flex">
            <span class="text-white text-body1 add-tasks__label">Рейтинг</span>
            <input v-model="item.rating" class="no-shadow text-white add-tasks__input q-px-lg">
          </div>
          <div class="add-tasks__input-container text-bold flex">
            <span class="text-white text-body1 add-tasks__label">Количество задач</span>
            <input v-model="item.count" class="no-shadow text-white add-tasks__input q-px-lg">
          </div>
        </div>
      </div>
      <q-space />
      <div class="add-tasks__button-block">
        <q-btn flat no-caps :loading="isDataLoading" class="bg-green-8 q-px-xl q-py-md text-white add-tasks__button" @click="allocateTasks">
          Назначить задачи
        </q-btn>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent, reactive } from 'vue';
import ConBackButton from 'components/ConAdminControls/ConBackButton.vue';
import ConAdminPageHeader from 'components/ConAdminControls/ConAdminPageHeader.vue';
import { useRoute, useRouter } from 'vue-router';
import { CoursesService } from 'src/modules/courses/services/courses.service';
import { LoadingStatusActionsEnum } from 'src/types/base.types';
import { EntityTypesEnum, IAllocateRequestData } from 'src/modules/courses/types/entity.types';

export default defineComponent({
  components: { ConBackButton, ConAdminPageHeader },

  setup() {
    const coursesService = new CoursesService();

    const route = useRoute();
    const router = useRouter();

    const courseId = computed(() => Array.isArray(route.params.courseId)
      ? route.params.courseId[0]
      : route.params.courseId);

    const groupId = computed(() => Array.isArray(route.params.groupId)
      ? route.params.groupId[0]
      : route.params.groupId);

    // ---------------------------------------------------------------
    // Параметры отображения
    const inputsControls = reactive<IAllocateRequestData[]>([
      {
        rating: 1,
        count: 3,
      },
      {
        rating: 2,
        count: 4,
      },
      {
        rating: 3,
        count: 3,
      },
    ]);

    const isDataLoading = computed(() => coursesService.allocateLoadingStatus.action === LoadingStatusActionsEnum.saving);

    async function allocateTasks() {
      inputsControls.forEach(c => {
        c.rating = parseInt(c.rating.toString());
        c.count = parseInt(c.count.toString());
      });

      const result = await coursesService.allocateTasks(groupId.value, courseId.value, inputsControls);

      if (result) {
        await router.push({
          name: 'AddEntity',
          params: {
            courseId: courseId.value,
          },
          query: {
            entityType: EntityTypesEnum.Group,
          },
        });
      }
    }

    return {
      inputsControls,
      isDataLoading,

      allocateTasks,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';

.add-tasks {
  &__header {
    width: 100%;
    gap: $page-gap;
  }

  &__inputs-block,
  &__inputs-row {
    gap: $page-gap;
  }

  &__input {
    padding: 20px 12px;
    width: 40%;
    background: none;
    outline: none;
    border: none;
  }

  &__input-container {
    padding: 0 40px;
    @include background-blur-opacity($main-bg, 0.1);
    border-radius: 10px;
    justify-content: space-between;
    width: 400px;
    align-items: center;
  }

  &__label {
    width: 60%;
  }

  &__button-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  &__button {
    border-radius: 10px;
  }
}
</style>
