<template>
  <q-page class="admin-page-class">
    <div class="page-activity-block">
      <con-back-button />
      <con-admin-page-header :header-text="header" />
      <con-main-tab :route-params="routeParams" />
      <con-entity-button
        route-name="EntityList"
        :course-id="courseId"
        :icon-name="ButtonIconNamesEnum.Group"
      />
      <con-add-button
        route-name="AddEntity"
        :course-id="courseId"
        :icon-name="ButtonIconNamesEnum.AddGroup"
        active
      />
    </div>
    <div class="admin-page-container flex column items-center">
      <group-course-card v-for="item in groups" :key="item.id" :course-id="courseId" :group="item" is-add />

      <q-inner-loading :showing="!isDataLoaded" dark color="secondary" style="border-radius: 20px" />
    </div>
  </q-page>
</template>

<script lang=ts>
import { computed, defineComponent } from 'vue';
import ConAdminPageHeader from 'components/ConAdminControls/ConAdminPageHeader.vue';
import ConAddButton from 'components/ConAdminControls/ConAddButton.vue';
import ConMainTab from 'components/ConAdminControls/ConMainTab.vue';
import ConEntityButton from 'components/ConAdminControls/ConEntityButton.vue';
import ConBackButton from 'components/ConAdminControls/ConBackButton.vue';
import { ADMIN_CURRENT_COURSE_ROUTE_PARAMS } from 'src/modules/core/constants/routes.consts';
import { ButtonIconNamesEnum } from 'components/ConAdminControls/controls.types';
import { useRoute } from 'vue-router';
import { CoursesService } from 'src/modules/courses/services/courses.service';
import { LoadingStatusCodesEnum } from 'src/types/base.types';
import GroupCourseCard from 'src/modules/courses/components/GroupCourseCard.vue';

export default defineComponent({
  components: { GroupCourseCard, ConBackButton, ConEntityButton, ConMainTab, ConAddButton, ConAdminPageHeader },
  setup() {
    const route = useRoute();
    const coursesService = new CoursesService();

    const courseId = computed(() => (Array.isArray(route.params.courseId) ?
      route.params.courseId[0] :
      route.params.courseId) || '');

    const routeParams = computed(() => ({
      ...ADMIN_CURRENT_COURSE_ROUTE_PARAMS,
      params: { courseId: courseId.value },
    }));

    const courseName = computed(() => coursesService.adminCourses?.find(c => c.id.toString() === courseId.value)?.name);

    const header = computed(() => `Назначение группе курса ${courseName.value}`);

    // ---------------------------------------------------------------
    // Загрузка данных
    coursesService.loadOutGroups(courseId.value);

    if (!coursesService.adminCourses) {
      coursesService.loadAdminCourses();
    }

    const groups = computed(() => coursesService.outGroupList);
    const isDataLoaded = computed(() => coursesService.outGroupListLoadingStatus.code === LoadingStatusCodesEnum.loaded);

    return {
      courseId,

      header,

      groups,
      isDataLoaded,

      routeParams,
      ButtonIconNamesEnum,
    };
  },
});
</script>

<style scoped lang=scss>
@import 'src/css/app';
</style>

