<template>
  <q-page class="admin-page-class">
    <div class="page-activity-block">
      <con-back-button />
      <con-admin-page-header :header-text="pageHeader" />
      <con-main-tab :route-params="routeParams" />
      <con-entity-button
        :icon-name="ButtonIconNamesEnum.Student"
        route-name="UserPage"
        :entity-type="EntityTypesEnum.Student"
        :entity-id="userId"
      />
    </div>
    <div class="admin-page-container flex column items-center admin-task">
      <div class="admin-task__description-block" style="overflow-y: auto;">
        <span class="admin-task__description" style="display: inline-block; white-space: pre-wrap; font-size: 0.9rem; ">
          {{ task?.description }}
        </span>
      </div>
      <template v-if="historyLength">
        <task-history :history="history" class="admin-task__history" is-admin />
      </template>
      <template v-else>
        <span class="text-h4 q-ma-none">Нет отправленных решений</span>
      </template>

      <q-inner-loading :showing="!isDataLoaded" dark color="secondary" style="border-radius: 20px" />
    </div>
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from 'vue';
import ConBackButton from 'components/ConAdminControls/ConBackButton.vue';
import ConAdminPageHeader from 'components/ConAdminControls/ConAdminPageHeader.vue';
import ConMainTab from 'components/ConAdminControls/ConMainTab.vue';
import ConEntityButton from 'components/ConAdminControls/ConEntityButton.vue';
import TaskHistory from 'src/modules/tasks/components/TaskHistory.vue';
import { useRoute } from 'vue-router';
import { TasksService } from 'src/modules/tasks/services/tasks.service';
import { LoadingStatusCodesEnum } from 'src/types/base.types';
import { ADMIN_CURRENT_COURSE_ROUTE_PARAMS } from 'src/modules/core/constants/routes.consts';
import { ButtonIconNamesEnum } from 'components/ConAdminControls/controls.types';
import { EntityTypesEnum } from 'src/modules/courses/types/entity.types';

export default defineComponent({
  components: { TaskHistory, ConEntityButton, ConMainTab, ConAdminPageHeader, ConBackButton },

  setup() {
    const tasksService = new TasksService();

    const route = useRoute();

    const userId = computed(() => Array.isArray(route.params.userId)
      ? route.params.userId[0]
      : route.params.userId);

    const courseId = computed(() => Array.isArray(route.params.courseId)
      ? route.params.courseId[0]
      : route.params.courseId);

    const taskId = computed(() => Array.isArray(route.params.taskId)
      ? route.params.taskId[0]
      : route.params.taskId);

    // ---------------------------------------------------------------
    // Загрузка данных
    tasksService.loadAdminTaskHistory(userId.value, taskId.value);

    watch(userId, () => !!userId.value && !!taskId.value ? tasksService.loadAdminTaskHistory(userId.value, taskId.value) : null);
    watch(taskId, () => !!userId.value && !!taskId.value ? tasksService.loadAdminTaskHistory(userId.value, taskId.value) : null);

    if (!tasksService.adminTaskList) {
      tasksService.loadAdminTaskList(courseId.value);
    }

    // ---------------------------------------------------------------
    // Данные для страницы
    const task = computed(() => tasksService?.adminTaskHistory);

    const history = computed(() => task.value?.history || []);
    const historyLength = computed(() => task.value?.history ? Reflect.ownKeys(task.value?.history) : 0);
    const isDataLoaded = computed(() => tasksService.adminTaskHistoryLoadingStatus.code === LoadingStatusCodesEnum.loaded);

    const pageHeader = computed(() => `История задачи ${taskId.value}`);

    // ---------------------------------------------------------------
    // Параметры страницы
    const routeParams = computed(() => ({
      ...ADMIN_CURRENT_COURSE_ROUTE_PARAMS,
      params: { courseId: courseId.value },
    }));

    return {
      task,
      history,
      isDataLoaded,
      historyLength,

      pageHeader,
      routeParams,
      ButtonIconNamesEnum,
      EntityTypesEnum,

      userId,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';

.admin-task {
  color: $card-font;

  &__history {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    //height: calc(100vh - (#{$description-height} + #{$header-height} + #{$main-padding} * 2 + #{$page-gap} * 2));
    border-radius: 10px;
    overflow: auto;
    width: 100%;
  }

  &__description-block {
    padding: 20px;
    @include background-blur-opacity($main-bg, 0.1);
    border-radius: 10px;
    width: 100%;
  }

  &__description {
    white-space: pre-wrap;
  }
}
</style>
