<template>
  <q-page class="admin-page-class">
    <div class="page-activity-block">
      <con-back-button />
      <con-admin-page-header header-text="Создание курса" />
    </div>
    <div class="admin-page-container flex column items-center">
      <div class="create-course__input-container text-bold flex full-width">
        <span class="text-white text-body1 create-course__label">Название курса</span>
        <input v-model="courseName" class="no-shadow text-white create-course__input q-px-lg">
      </div>

      <q-file
        v-model="taskFile"
        outlined
        label="Загрузите JSON файл с задачами"
        accept=".json, .JSON"
        max-file-size="100000000"
        :filter="checkFileSize"
        color="secondary"
        dark
        label-color="white"
        class="full-width"
        @rejected="onReject"
      >
        <template #prepend>
          <q-icon name="cloud_upload" class="text-white" @click.stop.prevent />
        </template>
        <template #append>
          <q-icon name="close" class="cursor-pointer text-white" @click.stop.prevent="taskFile = null" />
        </template>
      </q-file>

      <q-btn
        flat
        no-caps
        :loading="createCoursesLoading"
        class="bg-green-8 q-px-xl q-py-md text-white"
        @click="createCourse"
      >
        Создать курс
      </q-btn>
    </div>
  </q-page>
</template>

<script lang=ts>
import { computed, defineComponent, ref } from 'vue';
import ConBackButton from 'components/ConAdminControls/ConBackButton.vue';
import ConAdminPageHeader from 'components/ConAdminControls/ConAdminPageHeader.vue';
import { CoursesService } from 'src/modules/courses/services/courses.service';
import { useQuasar } from 'quasar';
import { useRouter } from 'vue-router';
import { LoadingStatusActionsEnum } from 'src/types/base.types';

export default defineComponent({
  components: { ConAdminPageHeader, ConBackButton },
  setup() {
    const router = useRouter();
    const $q = useQuasar();
    const coursesService = new CoursesService();

    const taskFile = ref<File | null>(null);
    const courseName = ref<string | null>(null);

    const createCoursesLoading = computed(() => coursesService.createCourseLoadingStatus.action === LoadingStatusActionsEnum.loading);

    function checkFileSize(files: File[]) {
      return files.filter(f => f.size < 100_000_000);
    }

    function onReject() {
      $q.notify({
        type: 'negative',
        message: 'Выбранный файл больше 100 Мб',
      });
    }

    async function createCourse() {
      if (!courseName.value) {
        $q.notify({
          type: 'negative',
          message: 'Необходимо заполнить имя курса',
        });
        return;
      }
      const result = await coursesService.createCourse(courseName.value, taskFile.value);

      if (result) {
        await router.push({ name: 'AdminCourses' });
      }
    }


    return {
      courseName,
      taskFile,
      createCoursesLoading,

      checkFileSize,
      onReject,
      createCourse,
    };
  },
});
</script>

<style scoped lang=scss>
@import 'src/css/app';

.create-course {
  &__input {
    padding: 20px 12px;
    width: 80%;
    background: none;
    outline: none;
    border: none;
  }

  &__input-container {
    padding: 0 40px;
    @include background-blur-opacity($main-bg, 0.1);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    width: 20%;
  }
}
</style>

