<template>
  <q-page class="admin-page-class">
    <div class="page-activity-block">
      <con-back-button />
      <con-admin-page-header :header-text="pageHeader" />
      <con-main-tab :route-params="routeParams" />
      <con-entity-button :icon-name="ButtonIconNamesEnum.Group" :entity-type="EntityTypesEnum.Group" :entity-id="entityId" route-name="CourseStudent" active />
    </div>
    <div class="admin-page-container flex column items-center">
      <group-user-card v-for="item in groupStudents" :key="item.id" :user-data="item" />

      <q-inner-loading :showing="!isDataLoaded" dark color="secondary" style="border-radius: 20px" />
    </div>
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from 'vue';
import ConBackButton from 'components/ConAdminControls/ConBackButton.vue';
import ConAdminPageHeader from 'components/ConAdminControls/ConAdminPageHeader.vue';
import { useRoute } from 'vue-router';
import { ADMIN_CURRENT_COURSE_ROUTE_PARAMS } from 'src/modules/core/constants/routes.consts';
import ConMainTab from 'components/ConAdminControls/ConMainTab.vue';
import ConEntityButton from 'components/ConAdminControls/ConEntityButton.vue';
import { EntityTypesEnum } from 'src/modules/courses/types/entity.types';
import { ButtonIconNamesEnum } from 'components/ConAdminControls/controls.types';
import { CoursesService } from 'src/modules/courses/services/courses.service';
import { LoadingStatusCodesEnum } from 'src/types/base.types';
import GroupUserCard from 'src/modules/courses/components/GroupUserCard.vue';

export default defineComponent({
  components: { GroupUserCard, ConEntityButton, ConMainTab, ConAdminPageHeader, ConBackButton },
  setup() {
    const coursesService = new CoursesService();
    const route = useRoute();

    const courseId = computed(() => Array.isArray(route.params.courseId)
      ? route.params.courseId[0]
      : route.params.courseId);

    const entityId = computed(() => Array.isArray(route.params.entityId)
      ? route.params.entityId[0]
      :route.params.entityId);

    const routeParams = computed(() => ({
      ...ADMIN_CURRENT_COURSE_ROUTE_PARAMS,
      params: { courseId: courseId.value },
    }));

    // ---------------------------------------------------------------
    // Загрузка данных
    coursesService.loadAdminGroupData(entityId.value, courseId.value);

    watch(entityId, () => !!entityId.value && !!courseId.value ? coursesService.loadAdminGroupData(entityId.value, courseId.value) : null);
    watch(courseId, () => !!entityId.value && !!courseId.value ? coursesService.loadAdminGroupData(entityId.value, courseId.value) : null);

    if (!coursesService.courseGroups) {
      coursesService.loadCourseGroups(courseId.value);
    }

    // ---------------------------------------------------------------
    // Данные страницы
    const groupStudents = computed(() => coursesService.adminGroupData);

    const isDataLoaded = computed(() => coursesService.adminGroupDataLoadingStatus.code === LoadingStatusCodesEnum.loaded);

    const groupName = computed(() => coursesService.courseGroups?.find(g => g.id.toString() === entityId.value)?.name || '');

    const pageHeader = computed(() => `Пользователи группы ${groupName.value}`);

    return {
      routeParams,

      groupStudents,
      isDataLoaded,
      pageHeader,

      entityId,
      EntityTypesEnum,
      ButtonIconNamesEnum,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';
</style>
