<template>
  <q-page class="admin-page-class">
    <div class="page-activity-block">
      <con-back-button />
      <con-admin-page-header :header-text="headerText" />
      <con-main-tab :route-params="routeParams" />
      <con-entity-button
        :icon-name="ButtonIconNamesEnum.Group"
        route-name="EntityList"
        :entity-type="EntityTypesEnum.Group"
      />
    </div>
    <div class="admin-page-container flex column items-center">
      <task-card v-for="item in taskList" :key="item.id" :task="item" is-admin />

      <q-inner-loading :showing="!isDataLoaded" dark color="secondary" style="border-radius: 20px" />
    </div>
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from 'vue';
import ConBackButton from 'components/ConAdminControls/ConBackButton.vue';
import ConAdminPageHeader from 'components/ConAdminControls/ConAdminPageHeader.vue';
import ConMainTab from 'components/ConAdminControls/ConMainTab.vue';
import ConEntityButton from 'components/ConAdminControls/ConEntityButton.vue';
import { useRoute } from 'vue-router';
import { TasksService } from 'src/modules/tasks/services/tasks.service';
import { LoadingStatusCodesEnum } from 'src/types/base.types';
import TaskCard from 'src/modules/tasks/components/TaskCard.vue';
import { ADMIN_CURRENT_COURSE_ROUTE_PARAMS } from 'src/modules/core/constants/routes.consts';
import { CoursesService } from 'src/modules/courses/services/courses.service';
import { ButtonIconNamesEnum } from 'components/ConAdminControls/controls.types';
import { EntityTypesEnum } from 'src/modules/courses/types/entity.types';

export default defineComponent({
  components: {
    TaskCard,
    ConBackButton,
    ConAdminPageHeader,
    ConMainTab,
    ConEntityButton,
  },

  setup() {
    const route = useRoute();
    const coursesService = new CoursesService();
    const tasksService = new TasksService();

    const courseId = computed(() => (Array.isArray(route.params.courseId)
      ? route.params.courseId[0]
      : route.params.courseId) || '');

    const userId = computed(() => (Array.isArray(route.params.userId)
      ? route.params.userId[0]
      : route.params.userId) || '');

    // ---------------------------------------------------------------
    // Загрузка данных
    tasksService.loadAdminUserTaskList(userId.value, courseId.value);

    watch(courseId, () => !!courseId.value && !!userId.value ? tasksService.loadAdminUserTaskList(userId.value, courseId.value) : null);
    watch(userId, () => !!courseId.value && !!userId.value ? tasksService.loadAdminUserTaskList(userId.value, courseId.value) : null);

    // ---------------------------------------------------------------
    // Данные для страницы
    const courseName = computed(() => coursesService.adminCourses?.find(c => c.id.toString() === courseId.value)?.name || '');

    const taskList = computed(() => tasksService.adminUserTaskList);

    const isDataLoaded = computed(() => tasksService.adminUserTaskListLoadingStatus.code === LoadingStatusCodesEnum.loaded);

    const routeParams = computed(() => ({
      ...ADMIN_CURRENT_COURSE_ROUTE_PARAMS,
      params: { courseId: courseId.value },
    }));

    const headerText = computed(() => `Задачи пользователя, курса ${courseName.value}`);

    return {
      taskList,
      isDataLoaded,

      routeParams,
      headerText,

      ButtonIconNamesEnum,
      EntityTypesEnum,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';
</style>
