<template>
  <q-page class="admin-page-class">
    <div class="page-activity-block">
      <con-back-button />
      <con-admin-page-header
        :header-text="header"
        :additional-colored-text="tasksCount?.toString() || ''"
        :additional-text="tasksTitle"
      />
      <con-main-tab :route-params="routeParams" />
      <con-entity-button
        route-name="EntityList"
        :course-id="courseId"
        :entity-type="EntityTypesEnum.Group"
        :icon-name="ButtonIconNamesEnum.Group"
      />
      <con-add-button route-name="EditPage" :icon-name="ButtonIconNamesEnum.Task" active />
    </div>
    <div class="admin-page-container flex column items-center">
      <q-btn v-if="showDownloadButton" flat no-caps class="bg-green-8 q-px-xl q-py-md text-white" @click="loadTaskFile">
        Загрузить файл задачи
      </q-btn>

      <q-file
        v-model="taskFile"
        outlined
        label="Загрузите JSON файл с задачами"
        accept=".json, .JSON"
        max-file-size="100000000"
        :filter="checkFileSize"
        color="secondary"
        dark
        label-color="white"
        class="full-width"
        @rejected="onReject"
      >
        <template #prepend>
          <q-icon name="cloud_upload" class="text-white" @click.stop.prevent />
        </template>
        <template #append>
          <q-icon name="close" class="cursor-pointer text-white" @click.stop.prevent="taskFile = null" />
        </template>
      </q-file>

      <q-btn flat no-caps :loading="buttonLoadingStatus" class="bg-green-8 q-px-xl q-py-md text-white" @click="submitTask">
        {{ buttonTitle }}
      </q-btn>

      <q-inner-loading :showing="false" dark color="secondary" style="border-radius: 20px" />
    </div>
  </q-page>
</template>

<script lang="ts">

import { computed, defineComponent, ref } from 'vue';
import ConAdminPageHeader from 'components/ConAdminControls/ConAdminPageHeader.vue';
import ConBackButton from 'components/ConAdminControls/ConBackButton.vue';
import { useRoute, useRouter } from 'vue-router';
import { CoursesService } from 'src/modules/courses/services/courses.service';
import ConAddButton from 'components/ConAdminControls/ConAddButton.vue';
import { ButtonIconNamesEnum } from 'components/ConAdminControls/controls.types';
import ConEntityButton from 'components/ConAdminControls/ConEntityButton.vue';
import ConMainTab from 'components/ConAdminControls/ConMainTab.vue';
import { ADMIN_CURRENT_COURSE_ROUTE_PARAMS } from 'src/modules/core/constants/routes.consts';
import { EntityTypesEnum } from 'src/modules/courses/types/entity.types';
import { usePluralization } from 'src/modules/core/utils/Strings.utils';
import { useQuasar } from 'quasar';
import { LoadingStatusActionsEnum } from 'src/types/base.types';

export default defineComponent({
  components: { ConMainTab, ConEntityButton, ConAddButton, ConBackButton, ConAdminPageHeader },

  setup() {
    const $q = useQuasar();
    const coursesService = new CoursesService();
    const tasksPlural = usePluralization('Нет задач | задача | задачи | задач');

    const route = useRoute();
    const router = useRouter();

    const taskId = computed(() => Array.isArray(route.query.taskId)
      ? route.query.taskId[0]
      : route.query.taskId);

    const courseId = computed(() => Array.isArray(route.params.courseId)
      ? route.params.courseId[0]
      : route.params.courseId);

    // ---------------------------------------------------------------
    // Загрузка данных
    if (!coursesService.adminCourses) {
      coursesService.loadAdminCourses();
    }

    if (taskId.value) {
      // todo: загрузка задачи для изменения
    }

    // ---------------------------------------------------------------
    // Данные для страницы
    const course = computed(() => coursesService.adminCourses?.find(c => c.id.toString() === courseId.value));

    const routeParams = computed(() => ({
      ...ADMIN_CURRENT_COURSE_ROUTE_PARAMS,
      params: { courseId: courseId.value },
    }));

    const header = computed(() => course.value?.name || '');

    const tasksCount = computed(() => course.value?.count);
    const tasksTitle = computed(() => tasksPlural.$t(tasksCount.value || 0));

    const buttonTitle = computed(() => taskId.value ? 'Редактировать задачу' : 'Создать задачи');
    const buttonLoadingStatus = computed(() => (
      coursesService.createTasksLoadingStatus.action === LoadingStatusActionsEnum.loading ||
        coursesService.patchTaskLoadingStatus.action === LoadingStatusActionsEnum.loading
    ));

    const showDownloadButton = computed(() => !!taskId.value);

    const taskFile = ref<File | null>(null);

    async function submitTask() {
      if (!taskFile.value) {
        $q.notify({
          type: 'negative',
          message: 'Сначала необходимо загрузить файл',
        });

        return;
      }

      if (taskId.value) {
        const result = await coursesService.patchTask(courseId.value, taskId.value, taskFile.value);
        if (result) {
          await router.push({ name: 'AdminCourse', params: { courseId: courseId.value } });
        }
        return;
      }

      const result = await coursesService.createTasks(courseId.value, taskFile.value);
      if (result) {
        await router.push({ name: 'AdminCourse', params: { courseId: courseId.value } });
      }
    }

    function checkFileSize(files: File[]) {
      return files.filter(f => f.size < 100_000_000);
    }

    function loadTaskFile() {
      if (!taskId.value) {
        return;
      }

      coursesService.loadTaskFile(taskId.value);
    }

    function onReject() {
      $q.notify({
        type: 'negative',
        message: 'Выбранный файл больше 100 Мб',
      });
    }

    return {
      header,
      routeParams,

      taskFile,
      courseId,
      tasksCount,
      tasksTitle,
      buttonTitle,

      buttonLoadingStatus,
      showDownloadButton,

      ButtonIconNamesEnum,
      EntityTypesEnum,

      submitTask,
      checkFileSize,
      onReject,
      loadTaskFile,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';
</style>
