<template>
  <q-page class="page-class task">
    <div class="page-content-container task__description flex column justify-between">
      <div class="text-body1 full-width" style="overflow-y: scroll">
        <p style="white-space: pre-wrap; font-size: 0.9rem; max-height: 100px;">
          {{ task?.description }}
        </p>
      </div>
      <div class="text-body1 flex justify-between" style="padding-top: 20px">
        <span>Максимальный балл: {{ task?.max_score }}</span>
        <span>Набранные баллы: {{ task?.score }}</span>
      </div>
      <div class="task__buttons">
        <q-file
          v-model="solutionFile"
          outlined
          label="Файл решения"
          dark
          color="secondary"
          accept=".py"
          clearable
          class="full-width task__input-file"
        >
          <template #before>
            <q-btn dense flat icon="close" @click="closeFileInput" />
          </template>
          <template #prepend>
            <q-icon name="attach_file" />
          </template>
          <template #after>
            <q-btn dense flat icon="send" @click="sendSolution" />
          </template>
        </q-file>
        <!-- todo: раскомментить, когда будет новый редактор
        <q-btn no-caps flat :disable="isButtonDisabled" class="text-white bg-secondary" @click="gotoEditor">Перейти к решению</q-btn>
        <div class="task__file-input-block">
          <q-btn v-show="!showFileInput" no-caps class="text-white bg-secondary full-width" @click="uploadSolution">Загрузить файл с решением</q-btn>
          <q-file
            v-show="showFileInput"
            v-model="solutionFile"
            outlined
            label="Файл решения"
            dark
            color="secondary"
            class="full-width task__input-file"
          >
            <template #before>
              <q-btn dense flat icon="close" @click="closeFileInput" />
            </template>
            <template #prepend>
              <q-icon name="attach_file" />
            </template>
            <template #after>
              <q-btn dense flat icon="send" @click="sendSolution" />
            </template>
          </q-file>
        </div>-->
      </div>
    </div>
    <div class="page-content-container task__history">
      <span class="text-h6 text-weight-regular task__history-title">История решений</span>
      <task-history :history="history" />
    </div>
    <con-full-page-loading v-show="isLoading" />
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import { TasksService } from 'src/modules/tasks/services/tasks.service';
import { useRoute, useRouter } from 'vue-router';
import { LoadingStatusCodesEnum } from 'src/types/base.types';
import ConFullPageLoading from 'components/ConFullPageLoading/ConFullPageLoading.vue';
import TaskHistory from 'src/modules/tasks/components/TaskHistory.vue';
import { TaskStatusesEnum } from 'src/modules/tasks/types/tasks.types';

export default defineComponent({
  components: { TaskHistory, ConFullPageLoading },
  setup() {
    const tasksService = new TasksService();
    const route = useRoute();
    const router = useRouter();

    const taskId = computed(() => Array.isArray(route.params.taskId) ? route.params.taskId[0] : route.params.taskId);
    const isLoading = computed(() => tasksService.taskLoadingStatus.code !== LoadingStatusCodesEnum.loaded);

    tasksService.loadTask(taskId.value);

    const task = computed(() => tasksService.task);
    const history = computed(() => task.value?.history || []);

    const isButtonDisabled = computed(() => task.value?.history &&
      task.value.history[0] &&
      (task.value.history[0].status === TaskStatusesEnum.zero ||
      task.value.history[0].status === TaskStatusesEnum.success) ||
      showFileInput.value);

    function gotoEditor() {
      router.push({ name: 'TaskEditor', params: { taskId: taskId.value } });
    }

    // ----------------------------------------------------------------
    // Загрузка файла с решением
    const solutionFile = ref<File | null>(null);
    const showFileInput = ref(false);

    function uploadSolution() {
      showFileInput.value = true;
    }

    function closeFileInput() {
      showFileInput.value = false;
    }

    async function sendSolution() {
      if (solutionFile.value) {
        const solution = await solutionFile.value.text();
        await tasksService.submitTask(solution);
      }
    }

    return {
      task,
      isLoading,

      history,
      isButtonDisabled,

      solutionFile,
      showFileInput,

      gotoEditor,
      uploadSolution,
      closeFileInput,
      sendSolution,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';
$description-height: 320px;

.task {
  color: $card-font;

  &__description {
    padding: 30px;
    height: $description-height;
  }

  &__description-text {
    white-space: pre-wrap;
  }

  &__history {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    height: calc(100vh - (#{$description-height} + #{$header-height} + #{$main-padding} * 2 + #{$page-gap} * 2));
    border-radius: 10px;
    overflow: auto;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 60px;
    height: 100%;
  }

  &__file-input-block {
    width: 340px;
    display: flex;
    justify-content: flex-end;
  }
}

.page-class {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
</style>
