<template>
  <q-card flat class="group-card flex justify-between items-center">
    <div class="group-card__name text-h6 text-white text-weight-regular q-ma-none">{{ group.name }}</div>
    <div class="group-card__count-block">
      <span class="text-secondary text-weight-bold text-body1">{{ group.count_users || '' }}</span>
      <span class="text-white text-body1 q-pl-sm">{{ usersPlural.$t(group.count_users) }}</span>
    </div>

    <q-btn flat class="group-card__button--delete bg-red-6 absolute bg-secondary text-white" @click="deleteGroup">
      <q-icon name="delete" />
    </q-btn>

    <q-btn flat :loading="groupDataLoading" class="group-card__button bg-green-9 absolute text-white" @click="downloadGroupCSV">
      <q-icon name="download" />
      <q-tooltip>
        <span class="group-card__tooltip text-body2">CSV с аккаунтами группы</span>
      </q-tooltip>
    </q-btn>
  </q-card>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';
import { IGroupDto } from 'src/modules/groups/types/groups.types';
import { GroupsService } from 'src/modules/groups/services/groups.service';
import { LoadingStatusActionsEnum } from 'src/types/base.types';
import { usePluralization } from 'src/modules/core/utils/Strings.utils';

export default defineComponent({
  props: {
    group: {
      type: Object as PropType<IGroupDto>,
      required: true,
    },
  },

  setup(props) {
    const groupsService = new GroupsService();

    const usersPlural = usePluralization('Нет пользователей | человек | человека | человек');

    const groupDataLoading = computed(() => (
      groupsService.CSVLoadingStatus.action === LoadingStatusActionsEnum.loading &&
      groupsService.CSVLoadingGroupID?.toString() === props.group.id.toString()
    ));

    function downloadGroupCSV() {
      groupsService.getGroupCSV(props.group.id.toString(), props.group.name);
    }

    function deleteGroup() {
      groupsService.deleteGroup(props.group.id.toString());
    }

    return {
      groupDataLoading,
      usersPlural,

      downloadGroupCSV,
      deleteGroup,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';

.group-card {
  border-radius: 10px;
  padding: 30px 160px 30px 30px;
  width: 100%;
  @include background-blur-opacity($main-bg, 0.1);

  &__button {
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;

    &--delete {
      border-radius: 0;
      top: 0;
      right: 70px;
      width: 70px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
</style>
