<template>
  <q-card flat class="admin-task-card row items-center justify-between">
    <div class="admin-task-card__challenge col-grow row items-center">
      <span class="admin-task-card__challenge-description text-body1">{{ task.description }}</span>
    </div>
    <div class="admin-task-card__rate-icon col-grow row items-center">
      <q-icon name="signal_cellular_alt " size="25px" class="text-secondary col-shrink" />
      <span class="text-h6 text-weight-regular text-white q-pl-sm">{{ task.rating }}</span>
    </div>
    <div class="admin-task-card__variant row items-center">
      <span class="text-secondary text-weight-bold text-bold text-h6 text-weight-regular">{{ task.variant_count }}</span>
      <span class="text-h6 text-weight-regular q-pl-sm">{{ variantsPlural.$t(task.variant_count) }}</span>
    </div>
    <q-btn flat class="admin-task-card__button--delete bg-red-6 absolute bg-secondary text-white" @click="deleteTask">
      <q-icon name="delete" />
    </q-btn>
    <q-btn flat class="admin-task-card__button bg-primary absolute bg-secondary text-white" @click="changeTask">
      <q-icon name="settings" />
    </q-btn>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { IAdminTaskDto } from 'src/modules/tasks/types/tasks.types';
import { usePluralization } from 'src/modules/core/utils/Strings.utils';
import { TasksService } from 'src/modules/tasks/services/tasks.service';
import { useRouter } from 'vue-router';

export default defineComponent({
  props: {
    task: {
      type: Object as PropType<IAdminTaskDto>,
      required: true,
    },
    courseId: {
      type: String,
      required: true,
    },
  },

  setup(props) {
    const router = useRouter();

    const tasksService = new TasksService();
    const variantsPlural = usePluralization('Нет вариантов | вариант | варианта | вариантов');

    function deleteTask() {
      tasksService.deleteTask(props.task.id, props.courseId);
    }

    function changeTask() {
      router.push({
        name: 'EditPage',
        params: {
          courseId: props.courseId,
        },
        query: {
          taskId: props.task.id,
        },
      });
    }

    return {
      variantsPlural,

      deleteTask,
      changeTask,
    };
  },
});

</script>

<style scoped lang="scss">
@import 'src/css/app';

.admin-task-card {
  border-radius: 10px;
  padding: 30px 160px 30px 30px;
  width: 100%;
  @include background-blur-opacity($main-bg, 0.1);

  &__challenge-description {
    color: $card-font;
    max-width: 40vw;
    width: 40vw;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;

    &--delete {
      border-radius: 0;
      top: 0;
      right: 70px;
      width: 70px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__variant {
    color: $card-font
  }
}
</style>
