<template>
  <div class="task-code">
    <h4 class="text-h6 q-ma-none text-white">Код решения</h4>
    <div class="task-code__code-block text-secondary text-weight-bold text-h6 q-ma-none">
      {{ taskCode }}
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    taskCode: {
      type: String,
      required: true,
    },
  },

  setup() {
    return {};
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';

.task-code {
  display: flex;
  flex-direction: column;
  gap: $page-gap;
  padding: 30px;
  @include background-blur-opacity($main-bg, 0.1);
  border-radius: 10px;

  &__code-block {
    min-height: 40px;
    padding: 10px 20px;
    width: 100%;
    @include background-blur-opacity($primary, 0.5);
    border-radius: 5px;
    white-space: pre-wrap;
  }
}
</style>
