<template>
  <q-card flat class="task-card row items-center no-wrap">
    <con-status-icon :status="task.status" />
    <div class="task-card__challenge col-grow row items-center q-pl-xl">
      <span class="task-card__challenge-description text-body-1 q-pl-lg">{{ task.description }}</span>
    </div>
    <!--    <q-space class="col-1" />-->
    <div class="task-card__rate-icon col-grow row items-center">
      <q-icon name="signal_cellular_alt " size="16px" class="text-secondary col-shrink" />
      <span class="text-body1 text-white q-pl-sm">{{ task.rating }}</span>
    </div>
    <div class="task-card__variant col-grow row items-center">
      <span class="text-secondary text-weight-bold text-bold text-body1">{{ task.variant }}</span>
      <span class="text-white text-body1 q-pl-sm">вариант</span>
    </div>
    <div class="task-card__rating row col-grow q-pr-xl items-center">
      <span class="text-secondary text-weight-bold text-body1">{{ task.score }}/{{ task.max_score }}</span>
      <span class="text-white text-body1 q-pl-sm">баллов</span>
    </div>
    <q-btn flat class="task-card__button absolute bg-secondary text-white" @click="gotoTask">
      <q-icon name="chevron_right" />
    </q-btn>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { ITaskDto, ITaskShortDto } from 'src/modules/tasks/types/tasks.types';
import { useRoute, useRouter } from 'vue-router';
import ConStatusIcon from 'components/ConStatusIcon/ConStatusIcon.vue';

export default defineComponent({
  components: { ConStatusIcon },
  props: {
    task: {
      type: Object as PropType<ITaskDto | ITaskShortDto>,
      required: true,
    },
    isAdmin: {
      type: Boolean,
      default: () => false,
    },
  },

  setup(props) {
    const router = useRouter();
    const route = useRoute();

    function gotoTask() {
      if (props.isAdmin) {
        router.push({
          name: 'AdminTask',
          params: {
            taskId: props.task.id,
            courseId: route.params.courseId,
            userId: route.params.userId,
          },
        });
        return;
      }
      router.push({ name: 'Task', params: { taskId: props.task.id } });
    }

    return {
      gotoTask,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'src/css/app';

.task-card {
  border-radius: 10px;
  padding: 30px 70px 30px 30px;
  width: 100%;
  @include background-blur-opacity($main-bg, 0.1);

  &__challenge-description {
    color: $card-font;
    max-width: 35vw;
    width: 35vw;
  }

  &__button {
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
  }
}
</style>
