@import 'mixins/color.mixins';
@import 'quasar.variables';
@import 'base.styles';

*:not(.material-icons) {
  font-family: 'Montserrat', sans-serif;
}


*::-webkit-scrollbar {
  width: 15px;
}


*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}


*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 10px;
}


