// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary        : #1A202C;
$secondary      : #438EFF;
$back-button    : #0058DB;

$main-font      : #FFFFFF;
$secondary-font : #9B9B9B;
$card-font      : #FFFFFF;

$main-bg        : #FFFFFF;

$success        : #18AB00;
$error          : #C10015;

$add-button     : #03A800;


$header-height: 84px;
$page-gap: 20px;
$main-padding: 30px;
$activity-block-height: 70px;
$tabs-height: 50px;
//$accent    : #9C27B0;

//$dark      : #1D1D1D;
//$dark-page : #121212;

//$positive  : #21BA45;
//$negative  : #C10015;
//$info      : #31CCEC;
//$warning   : #F2C037;
